/* MOBIL */
@media screen and (max-width: 599px)
{
    /* WP Admin sáv fix */
    body.sticky_header_visible #sticky_header_container {
        top: 0 !important;
        padding: 0 !important;
    }
    /* Oldalsáv gombok */
    .mobile-sidebar-switches {
        display: block !important;
        height: 32px;
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }
    .mobile-sidebar-switches > button {
        position: absolute;
        top: 0;
        bottom: 0;
        line-height: 100%;
    }
    .mobile-sidebar-switches > button.right {
        right: 0;
    }
    .mobile-sidebar-switches > button > i {
        margin: 0;
    }
}
@media screen and (min-width: 600px) and (max-width: 767px)
{
    body.sticky_header_visible #sticky_header_container {
        top: 46px !important;
        padding: 0 !important;
    }
}
@media screen and (max-width: 767px)
{
    /* Oldalsávok */
    #container > #center {
        width: 100% !important;
    }
    body #container > .sidebar {
        transition: all ease-in 0.2s;
        width: 100% !important;
        margin: 0 !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        z-index: 100000;
        padding: 20px;
        background: white;
    }
    body #container > .sidebar-left {
        transform: translateX(-100%);
    }
    body #container > .sidebar-right {
        transform: translateX(100%);
    }
    body #container > .sidebar.showen {
        transform: translateX(0);
    }
    #container .sidebar.showen button.close-sidebar {
        display: block !important;
        position: sticky;
        top: 0px;
        left: calc(100% - 20px);
        z-index: 100000;
        padding: 10px 15px;
        margin-bottom: -50px;
    }

    /* Mobil menü stílus */
    body.mobile-menu-opened #mobile-mega-menu-content {
        display: block !important;
        position: absolute;
        left: 0;
        right: 0;
        background: white;
        z-index: 1000;
        padding: 16px;
        -webkit-box-shadow: 0px 20px 20px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 20px 20px -10px rgba(0,0,0,0.25);
        box-shadow: 0px 20px 20px -10px rgba(0,0,0,0.25);
        max-height: 300px;
        overflow-y: auto;
    }
    #mobile-mega-menu-content > .mobile-mega-menu-item > .title-link {
        padding: 4px;
        position: relative;
    }

    #mobile-mega-menu-content > .mobile-mega-menu-item > .title-link > button {
        position: absolute;
        right: 0;
        top: 2px;
        bottom: 2px;
    }
    #mobile-mega-menu-content > .mobile-mega-menu-item > .title-link > button > i {
        margin: 0;
    }

    #mobile-mega-menu-content > .mobile-mega-menu-item > .title-link > a {
        display: inline-block;
        padding: 6px 0;
    }

    #mobile-mega-menu-content > .mobile-mega-menu-item {
        margin-bottom: 10px;
    }

    #mobile-mega-menu-content > .mobile-mega-menu-item:last-child {
        margin-bottom: 0;
    }

    ul.mobile-complex-menu_submenu.opened {
        display: block !important;
    }

    ul.mobile-complex-menu_submenu.opened > li {
        padding-left: 16px;
        padding-bottom: 16px;
    }

    ul.mobile-complex-menu_submenu.opened > li > a {
        font-weight: bold;
    }

    ul.mobile-complex-menu_submenu.opened > li > ul > li {
        padding-left: 16px;
    }

	.quantity input.input-text.qty {
		width: 50px;
		text-align: center;
		padding: 10px 0;
	}
    #CART-BLOCK form > table th {
        font-size: 0.8em;
    }
    #CART-BLOCK form > table tr.cart_item .product-thumbnail img {
        width: 32px;
    }
    .quantity input.input-text.qty {
        width: 30px;
    }
    #CART-BLOCK form > table th, #CART-BLOCK form > table td {
        vertical-align: middle;
    }
    #CART-BLOCK form > table tr.cart_item:nth-child(2n+1) {
        background: #eee;
    }
    #CART-BLOCK form > table tr.cart_item {
        background: #dedede;
    }
    #CART-BLOCK form > table tr.cart_item td {
        padding: 8px 0;
        font-size: 0.9em;
    }
    #CART-BLOCK form > table tr.cart_item td.product-remove {
        padding: 8px 7px;
    }
    #CART-BLOCK .coupon > label[for="coupon_code"] {
        display: none;
    }
    #CART-BLOCK .coupon {
        margin-bottom: 6px;
    }
    h3#order_review_heading {
        margin-top: 20px;
    }
    #CHECKOUT-BLOCK .form-row > span {
        width: 60%;
    }
    #CHECKOUT-BLOCK .form-row > label {
        width: 40%;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 999px)
{
    /* Oldalsávok */
    body.column-left:not(.column-right) #container #center { width: calc(100% - 215px) !important; }
	body.column-right:not(.column-left) #container #center { width: calc(100% - 215px) !important; }
	body.column-right.column-left #container #center { width: calc(100% - 330px) !important; }

	body.column-left:not(.column-right) #container > .sidebar-left { width: 200px !important; }
	body.column-right:not(.column-left) #container > .sidebar-right { width: 200px !important; }
	body.column-left.column-right #container > .sidebar-left { width: 150px !important; }
	body.column-right.column-left #container > .sidebar-right { width: 150px !important; }
	#container > .sidebar-left { margin-right: 15px !important; }
	#container > .sidebar-right { margin-left: 15px !important; }
}
